/*overall*/
body {
  background-color: skyblue;
  font-family: sans-serif;
  background-image: url(/rss/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
h1,h2{
  text-align: center;
  margin-top: 30px;
}
/*Navigation bar*/
.topnav {
  background-color: #2b6777 ;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #52ab98;
  color: black;
}

.topnav a.active {
  background-color: #52ab98;
  color: white;

}
/*asidemenu*/
.asidemenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
}
.asidemenu a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


.asidemenu a:hover {
  background-color: #fad390;
  color: #fff;
}
/*faq*/

.faq {
  width: 80%;
  background-color: skyblue;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
.question{
  font-style: italic;
  color: black;
  font-weight: bold;
}

/*dashboard*/
table{
  width: 80%;
  background-color: skyblue;
  margin-left: auto;
  margin-right:auto;
  padding: 0px;
  max-width: 950px;
  border: 1px solid black 
}
td {
  border: 1px solid black;
}
thead{
  background-color:rgb(162, 222, 245);
  font-size: 18px;
  font-weight:bold;
  font-style:italic;
}
.passed {
  background-color: green;
}
.failed {
  background-color: red;
}
.unknown {
  background-color: orange;
}
/*progress bar*/
#current{
  height: 25px;
  width: 700px;
  padding: 0px;
}
#nbsa{
  height: 25px;
  width: 700px;
}
#propaedeutic{
  height: 25px;
  width: 700px;
}

  